@import '../../../../sass/index.scss';

.user-orders {
  margin: 20px 0;

  table {
    width: 100%;

    thead {
      font-weight: bold;
    }

    td {
      border: 1px solid $gray-color1;
      padding: 5px;
    }
  }
}
