@import '../../sass/index.scss';

.admin-header {
  @include flexBox(row, center, center);
  background-color: $blue-color;
  height: 80px;
  align-items: center;

  div {
    @include flexBox(row, center, center);
  }

  img {
    height: 60px;
    object-fit: contain;
    background-color: $white-color;
    border-radius: 5px;
  }

  h1 {
    margin-left: 10px;
    color: $white-color;
  }
}
