@import '../../../../sass/index.scss';


.product-edit {
  .edit-btn {
    @include primaryBtn($white-color, $blue-color, 5px);
    width: 100%;
    padding: 10px 0;
  }

  .modal-main {
    overflow: unset;
  }
}
