@import '../../../../../sass/index.scss';

.user-details {
  p {
    text-align: left;

    span {
      font-weight: bold;
    }
  }
}

.empty-cart {
  color: $brown-color;
  background-color: $light-yellow-color;
  margin: 10px 0;
  border-radius: 5px;
  padding: 20px 10px;
}
