// Colors
$blue-color: #1ba0e2;
$black-color: #333;
$white-color: #ffffff;
$gray-color: #696969;
$gray-color1: #888888;
$light-gray-color: #F6F6F6;
$orange-color: #ff5722;
$background-color: #f3f5f7;

// FontSize
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 30px;
