// Colors
$blue-color: #1ba0e2;
$black-color: #333;
$white-color: #ffffff;
$gray-color: #696969;
$gray-color1: #888888;
$light-gray-color: #F6F6F6;
$orange-color: #ff5722;
$background-color: #f3f5f7;
$input-border-color: #e1e1e1;
$brown-color: #856404;
$light-yellow-color: #fff3cd;
$light-red-color: rgb(233, 138, 138);
$red-color: rgb(206, 13, 13);
$green-color: rgb(63, 212, 63);
$light-green-color: #d4edda;


// FontSize
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 30px;
