@import '../../sass/index.scss';

.nav-bar {
  @include flexBox(row, center, center);
  height: 50px;
  background-color: $light-gray-color;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);

  ul {
    @include flexBox(row, center, space-evenly);
    margin: 0;
    
    li {
      padding: 5px 15px;
      text-transform: uppercase;
      color: $gray-color;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: $blue-color;
      }

      i {
        margin-left: 5px;
      }
    }
  }

  .link {
    color: $gray-color;
    transition: 0.2s;

    &:hover {
      color: $blue-color;
    }
  }
}
